body
{
    margin:0;
    padding:0;
    height:50%;
}

#blankLinks input, input#submit, input#cancel {
    float:left;
    clear:left;
}
.movedown {
    padding-top:40%;
    color: #303030;
    font-family: 'Open Sans', Tahoma, Arial;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.75;
}

#FakeNewsForm {
    position    : fixed;
    top         : 0;
    left       : 0;
    z-index     : 200;
    height      : 400px;
    padding: 15px;
    width: 100%;
    border-radius: 10px;
    z-index: 10001;
    background-color:transparent;
}


#FakeNewsForm form {
    overflow-y: scroll;
    background-color: #85e8f7;
    position: absolute;
    bottom:0;
    width:92%;
    left:10px
    right:0;
    top:20px;
    z-index: 10001;
    padding-top:20px!important;
}

#FakeNewsForm a {
    color:blue;
}
#FakeNewsForm label {
	display: block;
	color:#000;
    margin-left:20px;
}


#FakeNewsForm ol li {
	color:#000;
}

#FakeNewsForm button, #FakeNewsForm input {
    margin: 5px 5px 5px 20px;
    padding: 0.6em 1em;
    font-family: 'Montserrat', Tahoma, Arial;
    font-size: 15px;
    font-size: 0.9375rem;
    font-weight: normal;
    text-transform: uppercase;
    border: none;
    text-decoration: none;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    line-height: normal;
}
#FakeNewsForm #submit {
    clear:all;
    display:block;
}
#FakeNewsForm #cancel {
    display:inline;
}

#FakeNewsForm #submit, #FakeNewsForm #cancel {
    font-weight:bold;
}

#FakeNewsForm button#submit:hover, #FakeNewsForm input#submit:hover, #FakeNewsForm button#cancel:hover, #FakeNewsForm input#cancel:hover {
	color:yellow;
}

#FakeNewsForm button#submit, #FakeNewsForm input#submit {
    color: #fff;
    background: #ee4444;
    font-weight:bold;
}
#FakeNewsForm select, #FakeNewsForm textarea {
    color: #303030;
    font-family: 'Open Sans', Tahoma, Arial;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.75;
}

div#blankLinks input.emptyField {
    width:600px;
}

div#blankLinks input.newField {
}