#FakeNewsForm {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    padding:15px;
    width: 100%;
    max-width: 360px;
    border-radius: 10px;
    z-index: 10001;
    background: rgb(255,120,151);
    background: linear-gradient(90deg, rgba(255,120,151,1) 0%, rgba(255,255,157,1) 100%);


    color: #000;
    font-size: 12px;
    line-height: 1.2;
}

#FakeNewsForm .fnf-toggle {

}

#FakeNewsForm a.help-link img {
    width: 20px;
    height: 20px;
}

#FakeNewsForm form {
    overflow-y: scroll;
    max-height: 100vh;
}

#FakeNewsForm textarea {
    max-width: 100%;
    min-height: 3em;
}

/* -- Element Fix -- */
#FakeNewsForm input[type=checkbox]{ -webkit-appearance:checkbox;}
#FakeNewsForm input[type="radio"] { -webkit-appearance: radio; }
#FakeNewsForm input[type="submit"], #FakeNewsForm input[type="button"] { -webkit-appearance: button; }
#FakeNewsForm select { -webkit-appearance:textfield; }
/*
#FakeNewsForm input[type="checkbox"],
#FakeNewsForm input[type="radio"] {
    width: auto;
}
*/

/*
#FakeNewsForm form {

    background-color: powderblue;
    position: absolute;
    bottom:0;
    width:93%;
    left:10px;
    right:0;
    top:20px;
    bottom: 50px;
    z-index: 10001;
    padding-top:20px!important;
}
*/

#FakeNewsForm a {
    color:blue;
}

#FakeNewsForm label {
    display: block;
    color:#000;
    margin-left:20px;
}


/*
#FakeNewsForm ol li {
	color:#000;
}
*/

#FakeNewsForm .fnf-button,
#FakeNewsForm button, 
#FakeNewsForm input[type="button"] {

}

/*
#FakeNewsForm button, #FakeNewsForm input {
    margin: 5px 5px 5px 20px;
    width:400px;
    padding: 0.6em 1em;
    font-family: 'Montserrat', Tahoma, Arial;
    font-size: 15px;
    font-size: 0.9375rem;
    font-weight: normal;
    text-transform: uppercase;
    border: none;
    text-decoration: none;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    line-height: normal;
}
#FakeNewsForm #submit, #FakeNewsForm #submitAll, #FakeNewsForm #pageOne, #FakeNewsForm #pageTwo {
    clear:all;
    display:block;
}
#FakeNewsForm #cancel, #FakeNewsForm #cancelAll {
    display:inline;
}

#FakeNewsForm #submit, #FakeNewsForm #cancel, #FakeNewsForm #submitAll, #FakeNewsForm #cancelAll {
    font-weight:bold;
}

#FakeNewsForm #submit:hover, #FakeNewsForm #submitAll:hover, #FakeNewsForm #cancel:hover, #FakeNewsForm #cancelAll:hover {
    color:yellow;
}

#FakeNewsForm #submit, #FakeNewsForm #cancel, #FakeNewsForm #submitAll, #FakeNewsForm #cancelAll {
    color: #fff;
    background: #ee4444;
    font-weight:bold;
}
#FakeNewsForm select, #FakeNewsForm textarea {
    color: #303030;
    font-family: 'Open Sans', Tahoma, Arial;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.75;
}




#FakeNewsForm div#blankLinks input.emptyField {
    width:600px;
}



#FakeNewsForm input#headlinMatch {
  color: white!important;
  width: 1.15em;
  height: 1.5em;
  border: 0.15em solid black;
  background-color: white!important;
  border-radius: 0.15em;
  margin-left: 120px;
  transform: translateY(-0.075em);
}
*/

/* Likert */

#FakeNewsForm form .likert {
    list-style:none;
  width:100%;
  margin:0;
  padding:0 0 35px;
  display:block;
}
#FakeNewsForm form .likert:last-of-type {border-bottom:0;}

#FakeNewsForm form .likert:before {
  content: '';
  position:relative;
  top:11px;
  left:9.5%;
  display:block;
  background-color:#efefef;
  height:4px;
  width:78%;
}

#FakeNewsForm form .likert li {
  display:inline-block;
  width:19%;
  text-align:center;
  vertical-align: top;
}
#FakeNewsForm form .likert li input[type=radio] {
  display:inline-block;
  -moz-appearance: radio !important;
  -webkit-appearance: radio !important;
  position:relative;
  top:0;
  /*left:50%;
  margin-left:-6px;*/
  width: auto;
  margin-left:5px;
}

#FakeNewsForm form .likert li label {width:100%;}

/*
#FakeNewsForm form .buttons {
  margin:30px 0;
  padding:0 4.25%;
  text-align:right
}

#FakeNewsForm input.remove {
	width:100px;
	background-color:pink;
	margin:5px;
}

#FakeNewsForm input#FNadd {
  background-color:palegreen;
  width:170px;
  margin-left:45px;
  margin-top:-5px;
}
*/