#FakeNewsForm {
	position: fixed;
	padding: 15px;
    top: 2em;
	top: 20px;
	left: 2em;
	left: 20px;
	width: 30em;
	width: 300px;
	background-color: #f1f8fe;
	border-radius: 10px;
	z-index: 10001;
}

#FakeNewsForm label, #FakeNewsForm #Submit {
	display: block;
}

#FakeNewsForm #Submit {
	padding: 5px;
	margin: 5px;
}