
:root {
	--fnf-dark-red: #b93a3d;
}

body {
	font-family: Arial;
	font-size: 14px;
	background-color: #f5f5f5;
	min-width: 360px;
	overflow-x: hidden;
	margin: 0;
	padding: 0;
	background: #fff url("diamondplate.png") repeat;
	user-select: none;
}

header {
	margin: 10px;
	text-align: center;
}

header h1, header h2 {
	margin: 0 0 .2em 0;
}

#content {}

#button-container {
	display: flex;
	margin: 15px;
	justify-content: space-around;
}

#button-container button {
	margin: 5px;
}



#tab-nav {
	margin: 10px 10px 0 15px;
	display: flex;
}

#tab-nav a {
	display: block;
	border: solid #888 1px;
	padding: 5px 10px;
	text-decoration: none;
	color: #000;
	position: relative;
	top: 1px;
	margin-right: 5px;
	border-bottom: 0;
	background-color:#fcfcfc;
	border-bottom: 1px solid #B93A3D;
}

#tab-nav a:hover {
	background-color:#EFEFEF;
}

#tab-sections > div {
	display: none;
	padding: 15px;
	margin: 0 25px 10px 10px;
	border: solid var(--fnf-dark-red) 1px;
}

#tab-nav a[data-tab-active] {
	background-color: #fff;
	border-color: var(--fnf-dark-red);
	border-bottom: none;
}

#tab-sections .fnf-tab[data-tab-active] {
	display: block;
	background-color: #fff;
}

.form-group {
	margin-bottom: 20px;
}

.form-group label.field-label {
	display: block;
	margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group textarea {
	width: 100%;
	box-sizing: border-box;

	font-size: 1em;
	border-radius: 3px;
	border: solid 1px #888;
	padding: 5px;
	margin-bottom: 5px;
}

.form-group textarea {
	min-height: 2em;
	resize: vertical;
}

.form-group .checkbox-group input[type="checkbox"] {
	margin-right: .5em;
}

.form-group .list-items {
	padding-left: 1.5em;
}

.form-group .list-items li {
	position: relative;
	padding-right: 2em;
	min-height: 2em;
}

.form-group .list-items button {
	position: absolute;
	top: 0;
	right: 0;
}

.form-group .add-list-items {
	display: flex;
}

.form-group .add-list-items button {
	flex: 0 0 auto;
	font-size: 1em;
	padding: 5px;
	margin-left: 5px;
	margin-bottom: 5px;
}

.form-group .link-list-items .list-value {
    display: inline-block;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

form .likert {
	list-style:none;
	width:100%;
	margin:0;
	padding:0;
	display:block;
	box-sizing: border-box;
}

form .likert:before {
	content: '';
	position:relative;
	top:11px;
	display:block;
	background-color:#888;
	height:4px;

	/* See line position math below */
	left:10%;
	width:80%;
}

form .likert li {
	display:inline-block;
	width:20%;
	text-align:center;
	vertical-align: top;
}

form .likert li input[type=radio] {
	display:block;
	position:relative;
	top:0;
	left:50%;
	margin-left:-6px;
}

form .likert li label {
	width:100%;
	font-size: .9em;
}


/* Math for likert line:
	n = number of choices
	line left offset = 1/2n
	line width = 1 - 1/n
	option width: 1/n

	Flex layout could automate some aspects of this.
*/

/* Defines the scale line behind the options. */
form .likert-q3:before {
	left: 16.5%;
	width: 66.6%;
}

/* Defines the width of each option area */
form .likert-q3 li {
	width: 33%;
}

.help-link {
	display: inline-block;
	max-width: 20px;
	vertical-align: middle;
	padding-left: .5em;
}

.help-link img {
	width: 100%;
	height: auto;
}


#whois {
	list-style-type: none;
}

.link-input {
	width: 100%;
}

.link-go-button {
	display: block;
}

.fnf-tab-footer {
	display: flex;
	justify-content: space-around;
	gap: 10px;
}


#FakeNewsPopup {
    position: absolute;
    top: 40px;
    left: 10px;
    right: 10px;
    box-sizing: border-box;
    padding: 15px;
    max-width: 100%;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 10px 10px 10px rgba( 0,0,0,0.5);
    border: solid 1px #ccc;

    transition: opacity .5s, right .5s;
}

/*
#FakeNewsPopup[data-fnf-closed="1"] {
    opacity: 0;
    left: 0;
}
*/

#FakeNewsPopupContent {
    border: solid black 1px;
    overflow: auto;
    margin-top: 15px;
    padding: 5px;
    font-size: .7em;
    max-height: 80vh;
    user-select: text;
}

#FakeNewsPopupContent h1 {
	font-size: 14px;
}

#FakeNewsPopupCloseButton {
    position: absolute;
    right: -5px;
    top: -5px;
    font-size: 20px;
    line-height: 20px;
    width: 24px;
    height: 24px;
    border: solid #888 1px;
    background-color: #eee;
    border-radius: 12px;
    text-align: center;
    padding: 0;
}


#FakeNewsPopupCloseButton:hover,
#FakeNewsPopupCloseButton:focus,
#FakeNewsPopupCloseButton:active {
    background-color: #888;
}

.tooltip {
	position: absolute;
	border: solid 1px #888;
	border-radius: 15px;
	background-color: #fff;
	box-shadow: 0px 5px 5px #666;

	padding: 10px;
	max-width: 80%;
	box-sizing: border-box;

	visibility: hidden;
}

.tooltip[data-animate="1"] {
	animation-name: tooltip;
	animation-duration: 5s;
	
}

.tooltip:before {
	content: '';
	position: absolute;
	display: block;
	width: 0;
	height: 0;
	left: calc( 50% - 10px);
	top: -10px;

	border-left: 10px solid transparent;
	border-right: 10px solid transparent;

	border-bottom: 10px solid #888;

}

.arrow-down {
	width: 0; 
	height: 0; 
}


@keyframes tooltip {
	from {
		visibility: hidden;
		opacity: 0%;
		transform: translate(0, 10px);
	}

	10% {
		visibility: visible;
		opacity: 100%;
		transform: translate(0, 0px);
	}

	80% {
		visibility: visible;
		opacity: 100%;
		transform: translate(0, 0px);
	}

	to {
		visibility: hidden;
		opacity: 0%;
		transform: translate(0, 10px);
	}
}


.config-selector {
	margin-right: 10px;
}